<ion-content>
  <div id="body">
    <ion-icon id="logo" name="layers"></ion-icon>
    <h1 id="title">Quick File Extension</h1>
    <p id="subtitle">Check any file extension</p>
    <div class="container">
      <div (click)="attachDocument()"  class="document-attach-container">
        <div class="icons-container">
          <ion-icon name="document-attach"></ion-icon>
        </div>
        <p>Attach File</p>
      </div>
    </div>
  </div>
  <ion-icon id="ex-img" name="documents"></ion-icon>
</ion-content>
