/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

* {
  font-family: Montserrat, Montserrat-Fixed, Avenir, "Avenir Next LT Pro",
    Corbel, "URW Gothic", source-sans-pro, sans-serif;
}

ion-input {
  input {
    caret-color: var(--ion-color-primary) !important;
  }
}

ion-app {
  margin-top: env(safe-area-inset-top);
}

ion-searchbar {
  .searchbar-input-container {
    input {
      caret-color: var(--ion-color-primary) !important;
      font-size: 14px !important;
      background: rgb(240, 240, 240) !important;
      text-overflow: ellipsis !important;
      padding-left: 42px !important;
    }
    ion-icon {
      color: var(--ion-color-primary) !important;
      padding-left: 5px !important;
    }
  }
}

.animated {
  animation: zoomIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.animated-from-bottom {
  animation: slideFromBottom 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
